@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
*{
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family: "Raleway", sans-serif;
    background-color: rgb(219, 219, 241);
}
header{
    background-color: rgb(101, 101, 253);
    color: yellow;
    text-align: center;
    padding: 2rem;
}
section{
  height: 100vh;
  width: 85%;
}
.section, .article{
  width: 85%;
  margin: 2rem 0;
}
.title{
    color: rgb(30, 30, 51);
}
.center{
  text-align: center;
}
.panel{
    position: fixed;
    top: 0;
    bottom: 0;
     right: 0;
    /*left: 0; */
    z-index: 998;
    width: 15%;
    background-color: rgba(0, 0, 0, 0.85);
    /*transition: transform 0.3s ease;
    De arriba
    transform: translate(0, -100%);*/
  }
  nav{
    padding: .2rem 1rem;
    /* width: inherit; */
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    overflow: hidden;
  }
  nav a{
    width: inherit;
    display: block;
    font-size: 1rem;
    transition: all 0.3s ease;
    text-decoration: none;
    text-transform: uppercase;
    font-size: large;
    color: yellow;
    padding: .9rem 2rem;
  }
  nav a:hover{
    background-color: yellow;
    color: rgb(41, 40, 40);
  }
  nav a.is-active{
    background-color: white;
  }
.half{
    display: flex;
    
}
#cameraOn{
  outline: none;
  border: none;
  border-radius: .5rem;
  padding: .75rem;
  background-color: rgb(183, 247, 183);
  cursor: pointer;
  font-weight: bold;
  width: 80px;
}
#detector{
  justify-content: center;
  align-items: center;
}
.text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}
.flex-row{
  display: flex;
  flex-direction: row;
}
.flex-column{
  display: flex;
  flex-direction: column;
}
.ppt-1{
  
  border-radius: .5rem;
  width: 70%;
  height: 450px;
  margin: auto;
}

.opponent, .you{
  justify-content: space-evenly;
  align-items: center;
  gap: 1.5rem;
  padding: 1rem 1.5rem;
}
.gameppt, .gameppt2{
  border: none;
  outline: none;
  background-color: inherit;
  cursor: pointer;
  border-radius: 50%;
}
.opponent img, .gameppt img, .gameppt2 img{
  border-radius: 50%;
}

#restart, #restart2{
  margin: auto;
  outline: none;
  border: none;
  padding: 1rem 2rem;
  background-color: rgb(155, 155, 223);
  border-radius: .5rem;
  cursor: pointer;
  font-weight: bold;
}
.card-time{
  width: 40%;
  height: max-content;
  background-color: azure;
  padding: 2rem;
  border-radius: .5rem;
}
.card-time img{
  max-width: 200px;
}

#weather{
  margin: 20rem auto 0;
  width: 70%;
}
#result, #result2{
  background-color: white;
  z-index: 2;
  width: 30%;
  height: 100px;
  border-radius: .5rem;
  padding: 5rem;
  position: relative;
  top: -300px;
  left: 25rem;
  border: 2px solid black;
  box-shadow: 1px 1px 1px black;
}
.advice{
  background-color: hsl(217, 19%, 38%);
  width: 400px;
  height: 400px;
  margin: 0 auto;
  border-radius: .5rem;
}
/*Calculador de edad*/
#yourAge{
  max-height: 40vh;
}
#age{
  display: flex;
  gap: 1.5rem;
  padding: 2rem;
}

#age label input{
  border-radius: .5rem;
  padding: 1rem 2rem;
  outline: none;
  border: 1px solid grey;
}
.large{
  font-weight: bold;
  font-size: 40px;

}
.age-calc{
  margin: 0 auto;
  width: 60%;
}
/*E-commerce*/
#ecommerce{
  
  padding: 2rem;
}
.article{
  gap: 1rem;
}
.menues{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  /* padding: 2rem; */
  gap: 1.5rem;

}
.menues picture img{
  display: block;
  width: 250px;
  height: 250px;
  border-radius: .5rem;
  object-fit:cover;
}
.menues p{
  color: rgb(111, 73, 68);
}
.menues h4{
  color: hsl(14, 87%, 39%);
}
.menues button{
  background-color: hsl(20, 50%, 98%);
  border: 1px solid hsl(14, 65%, 9%);
  border-radius: 20px;
  padding: .5rem 1.5rem;
  outline: none;
  font-weight: bold;
  position: relative;
  top: -5%;
  left: 20%;
  cursor: pointer;
}
.menues .selected{
  display: flex;
  justify-content: space-evenly;
  background-color: hsl(14, 86%, 42%);
  gap: 1.6rem;
  color: hsl(20, 50%, 98%);
  position: relative;
  top: -14%;
  left: 20%;
  z-index: 1;
}
.menues .selected img{
  width: 15px;
  height: 15px;
}
.none{
  display: none;
}
.menu-desserts{
  width: 80%;
  flex-wrap: wrap;
  border-radius: .5rem;
  height: max-content;
  background-color: rgb(247, 247, 247);
  padding: 1rem;
}
#logo, .logo{
  width: 15px;
  height: 15px;
}
.cart{
  border-radius: .5rem;
  width: 20%;
  height: 400px;
  padding: 2.5rem;
  background-color: hsl(20, 50%, 98%);
}
#words{
  width: 80%;
  padding: 2rem;
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  
  & .letter{
    padding: 1.5rem;
    background-color: rgb(181, 242, 181);
    outline: none;
    border: 1px solid green;
    border-radius: .5rem;
    cursor: pointer;
  }
  & .letter:hover{
    font-weight: bold;
    box-shadow: 1px 1px 1px rgb(8, 56, 8);
  }
}
#hangman figure{
  margin: 0 auto;
  width: 50%;
}
#word{
  font-weight: bold;
  font-size: 36px;
  letter-spacing: 4rem;
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  background-color: aliceblue;
  padding: 1.5rem;
}
#draganddrop{
  margin-top: 70vh;
}
/*Drag and drop*/
.pokemon{
  border: 1px solid blue;
  border-radius: .75rem;
  cursor: pointer;
}
.pkmn-container{
  border: 1px solid blue;
  border-radius: .75rem;
  padding: 1rem;
  max-width: fit-content;
}
/*Historial*/

/*Lista de prioridades*/
#priorities{
  display: flex;
  flex-direction: column;

  & #priority{
    width: 50%;
    margin: 5% auto;
    padding: .75rem 1rem;
    outline: none;
    border: none;
    border-bottom: 1px solid black;
    border-radius: .5rem;

  }
  & .priority-list{
    display:flex;
    flex-direction: column;
    gap: 1rem;
    flex-wrap: wrap;
    width: 80%;
    justify-content: space-evenly;
    align-items: center;
    & .task{
      background-color: aliceblue;
      padding: 1rem 5rem;
      border-radius: .5rem;
    }
  }
}
.article-task{
  display: flex;
  gap: 1rem;
  justify-content: center;
  align-items: center;
}
.up, .down{
  cursor: pointer;
  
}