@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
*{
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family: "Raleway", sans-serif;
    background-color: rgb(219, 219, 241);
}
header{
    background-color: rgb(101, 101, 253);
    color: yellow;
    text-align: center;
    padding: 2rem;
}
section{
  height: 100vh;
  width: 85%;
}
.section{
  width: 85%;
  margin: 2rem 0;
}
.title{
    color: rgb(30, 30, 51);
}
.center{
  text-align: center;
}
.panel{
    position: fixed;
    top: 0;
    bottom: 0;
     right: 0;
    /*left: 0; */
    z-index: 998;
    width: 15%;
    background-color: rgba(34, 34, 34, 0.85);
    /*transition: transform 0.3s ease;
    De arriba
    transform: translate(0, -100%);*/
  }
  nav{
    padding: .2rem 1rem;
    /* width: inherit; */
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
  }
  nav a{
    width: inherit;
    display: block;
    font-size: 1rem;
    transition: all 0.3s ease;
    text-decoration: none;
    text-transform: uppercase;
    font-size: large;
    color: yellow;
    padding: .9rem 2rem;
  }
  nav a:hover{
    background-color: yellow;
    color: white;
  }
  nav a.is-active{
    background-color: white;
  }
.half{
    display: flex;
    
}
.text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}
.flex-row{
  display: flex;
  flex-direction: row;
}
.flex-column{
  display: flex;
  flex-direction: column;
}
.ppt-1{
  border: 1px solid green;
  border-radius: .5rem;
  width: 50%;
  height: 450px;
  margin: auto;
}

.opponent, .you{
  justify-content: space-evenly;
  align-items: center;
  gap: 1.5rem;
  padding: 1rem 1.5rem;
}
.gameppt{
  border: none;
  outline: none;
  background-color: inherit;
  cursor: pointer;
  border-radius: 50%;
}
.opponent img, .gameppt img{
  border-radius: 50%;
}
.none{
  display: none;
}
#restart{
  margin: auto;
}